In [3]:
from main.utils.analysis import *
%matplotlib inline

In [4]:
params = {'data_pth':'data/大麦.csv',
    'date_colName': 'apply_date',
    'y_colName': 'target',
    'org_colName':'org',
    'data_encode':'utf-8',
    'key_colNames' : ['test_id', 'idnumber', 'mobile', 'apply_date']}
data = get_dataset(**params)

原始数据有2647807条, 根据['test_id', 'idnumber', 'mobile', 'apply_date']去重且只保留标签列[0,1]的数据
去重后数据有2647807条
test_id全为0, 去除该列
target, org被重命名为new_target, new_org; apply_date被格式化为new_date, new_date_ym两列

## 1. 数据分析(EDA)

### 1.1 去除异常月份

In [5]:
params = {
    'data': data,
    'minYmBadsample': 10,
    'minYmSample': 1000
}
data = drop_abnormal_ym(**params)

开始分析机构样本情况
机构样本情况分析结束

'输入data样本数为2647807, 限制每个机构每月坏样本数>=10, 样本数>=1000'

'删去异常月份后数据大小为2581292'

,idnumber,mobile,new_date,f1,f2,f3,f4,f5,f6,f7,...,f75,f76,f77,f78,f79,f80,tag,new_target,new_org,new_date_ym
0,22d8a364789d6db3775b9933db375e03,7e994d7983181bd8418f3050bc850c50,20230820,0.2,0.3,0.7,0.6,0.1,1.0,0.3,...,1.0,0.0,0.0,13.0,0.0,0.0,normal,0,202403280001_长银消金_360,202308

### 1.2 机构逐月坏样率概览

In [6]:
datasetStatis = org_analysis(data)
display(datasetStatis.head(2))
datasetStatis.to_csv("process results/datasetStatis.csv", index=False)

开始分析机构样本情况
机构样本情况分析结束

                        机构      年月  单月坏样本数  单月总样本数  单月坏样率  总坏样本数   总样本数   总坏样率
0  202401210004_华夏银行（京东金条）  202306     778    5112  0.152    778   5112  0.152
1    202403280001_长银消金_360  202308     117   11922  0.010    551  58631  0.009

### 1.3 变量分机构和总体坏样率概览

In [7]:
channel = {'银行': ['202407100001_青岛银行','202409260001_滴滴金融_新户',
                   '202409260002_滴滴金融_老户', '20241205_光大信用卡_提额',
                   '202412110001_浦发信用卡_贷前', '202412110002_浦发信用卡_贷中监控',
                   '202401210004_华夏银行（京东金条）','202412090001_广州农商行','202408260001_上海银行',
                    '202502250001-友利银行', '202503110003-上海银行信贷','202503240001-晋商银行信用卡', '202503110001-上海银行信贷'],
           '非银': ['202403280001_长银消金_360','202403280002_长银消金_唯品会', '20240328_长银消金_百融',
                     '202405290001_恒昌上海','202406140001_分期乐_欺诈', '202407090001_分期乐_贷中',
                     '20240802_度小满', '202408130001_洋钱罐', '202408300001_时光金科',
                     '202409060001_恒昌北京_复贷', '202409060002_恒昌北京_新客', '202410090001_华晨东亚汽车金融',
                     '202411040001_汇登数字', '202412050001_光大信用卡_分期', '202412300001_爱租机',
                     '202412300002_爱租机', '202503120001-久恒融担', '202503120002-久恒融担',
                     '202503120003-久恒融担', '202504010001-久恒融担', '202504090003_360_高利率',
                     '202504090004_360_低利率', '202504210001_华通_乐信', '202504210002_华通_360',
                     '202504210003_华通_拍拍贷', '202504240001-南银法巴'], 
           '整体':list(data.new_org.unique())}

In [8]:
miss_org, miss_channel = missing_check(**{'data': data, 'channel': channel})
display(miss_org.head(1), miss_channel.head(1))
miss_org.to_csv('process results/miss_org.csv', index=False)
miss_channel.to_csv('process results/miss_channel.csv', index=False)

100%|██████████| 3/3 [02:10<00:00, 38.11s/it]

                     机构   变量  -1111缺失率  -999缺失率  -1缺失率  nan缺失率   总缺失率
1650  202504240001-南银法巴  f49       0.0      0.0  0.043     0.0  0.043

     渠道   变量  -1111缺失率  -999缺失率  -1缺失率  nan缺失率   总缺失率
147  非银  f48       0.0      0.0  0.053   0.006  0.053

In [20]:
np.sort(data[data.new_org=='202503110003-上海银行信贷'].new_date.unique())

array(['20240602', '20240603', '20240604', '20240605', '20240606',
       '20240608', '20240609', '20240610', '20240611', '20240612',
       '20240613', '20240614', '20240615', '20240616', '20240617',
       '20240618', '20240619', '20240620', '20240621', '20240622',
       '20240623', '20240624', '20240625', '20240626', '20240627',
       '20240628', '20240630', '20240701', '20240702', '20240703',
       '20240704', '20240705', '20240706', '20240707', '20240708',
       '20240709', '20240710', '20240711', '20240713', '20240714',
       '20240715', '20240717', '20240718', '20240719', '20240720',
       '20240721', '20240722', '20240723', '20240724', '20240725',
       '20240726', '20240728', '20240729', '20240730', '20240731'],
      dtype=object)

In [25]:
bins, retbins = pd.qcut(data[data.new_org=='202503110003-上海银行信贷'].new_date.astype(int), q=5, 
                        labels=[0,1,2,3], retbins=True, duplicates='drop')
bins.value_counts()

2    3448
1    2087
0    1870
3    1380
Name: new_date, dtype: int64

### 1.4 变量分机构和渠道psi概览

In [9]:
res_psi_org, res_psi_channel = detect_psi(**{'data': data, 'channel': channel})
res_psi_org.to_csv("process results/psi_org.csv", index=False)
res_psi_channel.to_csv('process results/psi_channel.csv', index=False)
display(res_psi_org.head(4), res_psi_channel.head(4))

  0%|          | 0/3 [00:00<?, ?it/s]

机构202503110003-上海银行信贷下f77计算psi失败, Bin edges must be unique: array([20240602, 20240619, 20240703, 20240703, 20240731]).
You can drop duplicate edges by setting the 'duplicates' kwarg
机构202503110001-上海银行信贷下f77计算psi失败, Bin edges must be unique: array([20240523., 20240523., 20240524., 20240524., 20240526.]).
You can drop duplicate edges by setting the 'duplicates' kwarg

 67%|██████▋   | 2/3 [10:58<04:15, 255.55s/it]

机构202503110003-上海银行信贷下f77计算psi失败, Bin edges must be unique: array([20240602, 20240619, 20240703, 20240703, 20240731]).
You can drop duplicate edges by setting the 'duplicates' kwarg
机构202503110001-上海银行信贷下f77计算psi失败, Bin edges must be unique: array([20240523., 20240523., 20240524., 20240524., 20240526.]).
You can drop duplicate edges by setting the 'duplicates' kwarg

100%|██████████| 3/3 [22:08<00:00, 379.88s/it]

                      机构  变量  区间    样本数   区间psi   最大psi
10055  202504240001-南银法巴  f9  Q4  13132  0.0000  0.0005
10054  202504240001-南银法巴  f9  Q3  13248  0.0001  0.0005
10053  202504240001-南银法巴  f9  Q2  13092  0.0005  0.0005
10052  202504240001-南银法巴  f9  Q1  13669  0.0001  0.0005

     渠道  变量  区间     样本数   区间psi   最大psi
455  非银  f9  Q4  490126  0.0000  0.0202
454  非银  f9  Q3  490919  0.0158  0.0202
453  非银  f9  Q2  502008  0.0098  0.0202
452  非银  f9  Q1  497090  0.0202  0.0202

### 1.5 变量分机构和渠道和总体iv概览

In [ ]:
res_iv_org, res_iv_channel = detect_iv(**{'data':data, 'method':'quantile', 'bins':5, 'channel': channel})
res_iv_org.to_csv('process results/iv_org.csv', index=False)
res_iv_channel.to_csv("process results/iv_channel.csv", index=False)
display(res_iv_org.head(2), res_iv_channel.head(2))

### 1.6 变量总体相似性概览

In [ ]:
indices, corr = detect_correlation(**{'data':data, 'method':'pearson', 'max_corr':0.85})
corr.to_csv('process results/correlation.csv', index=False)

## 2. 变量筛选 (iv psi correlation null_importance forward_selection)
## condition计算 一起看 观测多少个机构上满足

### 2.1 去除高缺失率变量　渠道可以加入考虑，是否现在已经写了？

In [ ]:
data = drop_highmiss_features(**{'data':data, 'ratio': 0.3, 'cnt': 3, 'miss_org': miss_org, 'miss_channel': miss_channel})

### 2.2 去除高psi变量

In [ ]:
data = drop_highpsi_features(**{'data':data, 'res_psi_org':res_psi_org, 'cnt':2, 'ratio':0.1})

### 2.3 去除低iv变量

In [ ]:
data = drop_lowiv_features(**{'data':data, 'miniv':0.1, 'cnt':5, 'res_iv_org':res_iv_org, 'res_iv_channel': res_iv_channel})

### 2.4 去除高相似性变量

In [ ]:
data = drop_highcorrelation_features(**{'data':data, 'res_iv_channel':res_iv_channel,'indices':indices, 'channel':'整体'})

### 2.5 null importance去除高噪音变量

In [ ]:
data = drop_highnoise_features(**{'data': data, 'n_estimators':100, 'max_depth': 5})

### 2.6 前向特征选择 (optional)